<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Add Student to Course</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container">
    <h2>Add Student to Course</h2>
    <hr/>
    <form action="#" th:action="@{/courses/addStudentToCourse}" th:object="${course}" method="post">
        <div class="form-group">
            <label for="studentId">Select Student:</label>
            <select class="form-control" id="studentId" name="studentId">
                <option th:each="student : ${studentsList}" th:value="${student.id}" th:text="${student.name}"></option>
            </select>
        </div>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Add Student to Course</button>
    </form>
</div>

</body>
</html>