<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Course Manager</title>
<!-- Link to external CSS file -->
<link href="/css/styles.css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<!-- Jumbotron - Main header -->
<div class="jumbotron">
    <h1>Course Manager</h1>
    <p>Manage your courses, teachers, and students easily and efficiently!</p>
</div>

<!-- Section with application features -->
<div class="container feature-section">
    <div class="row">
        <div class="col-md-4 feature">
            <span class="icon">&#128218;</span> <!-- Plus icon -->
            <h3>Manage Courses</h3>
            <p>Add new courses by providing their name, description, start date, and end date.</p>
        </div>
        <div class="col-md-4 feature">
            <span class="icon">&#128590;</span> <!-- Book icon -->
            <h3>Manage Teachers</h3>
            <p>Add teachers and assign them to the relevant courses.</p>
        </div>
        <div class="col-md-4 feature">
            <span class="icon">&#127891</span> <!-- Graduation cap icon -->
            <h3>Manage Students</h3>
            <p>Add students to courses, allowing them access to educational materials.</p>
        </div>
    </div>
</div>

<!-- Section with interesting animations -->
<div class="container">
    <!-- You can add any animations or interactive elements here to enhance the page -->
</div>

<div class="container">
<th:block th:replace="fragments :: footer" th:remove="tag" ></th:block>
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>