<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Course list</title>
</head>
<body>

<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<div class="container">
    <h2>List of courses</h2>
    <hr/>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Teacher name</th>
            <th>No. of students</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td th:text="${course.getName()}"></td>
            <td th:text="${course.getTeacher().getName()}"></td>
            <td th:text="${course.getNumberOfStudents()}"></td>
            <td>
                <a th:href="@{/courses/deleteCourse(courseId=${course.id})}" class="btn btn-danger ml-2">Delete</a>
                <a th:href="@{/courses/addStudentCourseForm(courseId=${course.id})}" class="btn btn-info ml-2">Add Student</a>
                <a th:href="@{/courses/listStudents(courseId=${course.id})}" class="btn btn-info ml-2">List Students</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/courses/addCourseForm}" class="btn btn-primary mb-2">Add Course</a>

</div>

</body>
</html>