<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <title>Registration Form</title>
</head>
<body>

<div class="container">
    <form class="form-signin" th:action="@{/registration/registerUser}" method="post" th:object="${request}">
        <h2 class="form-signin-heading">Sign up</h2>
        <p>
            <label for="firstName" class="sr-only">First name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" th:field="*{firstName}" required>
        </p>
        <p>
            <label for="lastName" class="sr-only">First name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" th:field="*{lastName}" required>
        </p>
        <p>
            <label for="email" class="sr-only">First name</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" th:field="*{email}" required>
        </p>
        <p>
            <label for="password" class="sr-only">First name</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" th:field="*{password}" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>

</body>
</html>
