<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <title>Token View</title>
</head>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Token Information
        </div>
        <div class="card-body">
          <h5 class="card-title">Token: <span th:text="${token}"></span></h5>
          <a th:href="@{/registration/confirm(token=${token})}" class="btn btn-success">Confirm Token</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>